################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessProject-Csharp/.vs/ChessProject-Csharp
